* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed';
}

.userpanel-navbar {
    display: flex;
    line-height: 25px;
    align-items: center;
    justify-content: space-between;
    background: #3742fa;
}

.userpanel-navbar-logo > img {
    margin-left: 5px;
    margin-top: 5px;
    width: 200px;
}

.userpanel-navbar-nav .userpanel-nav-links {
    display: inline-flex;
}

.userpanel-nav-links > a {
    color: white;
    margin: 10px;
    transition: .2s;
    text-decoration: none;
}

.userpanel-nav-links > a:after {
    display: block;
    content: '';
    margin-top: 3px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    border-top: 3px solid #ffa502;
}

.userpanel-nav-links > a:hover:after {
    transform: scaleX(1);
}

.userpanel-nav-links > a:hover {
    color: #ffa502;
}

.userpanel-navbar-right-container {
    display: inline-flex;
    margin-right: 5px;
}

.userpanel-navbar-right-div {
    margin: 10px;
    position: relative;
    display: inline-block;
    color: white;
    cursor: pointer;
}

.userpanel-navbar-switch-toggle .toggle {
    position : relative ;
    display : inline-block;
    width : 40px;
    height : 20px;
    margin-top: 2px;
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid gray;
}

.userpanel-navbar-switch-toggle .toggle:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    left: 4px;
    bottom: 4px;
    transition:  all 0.5s;
}

.userpanel-navbar-switch-toggle .checkbox:checked + .toggle::after {
    left : 22px;
    background-color: #fff;
}

.userpanel-navbar-switch-toggle .checkbox:checked + .toggle {
    background-color: rgb(27, 157, 27);
    border: 2px solid white;
}

.userpanel-navbar-switch-toggle .checkbox {
    display : none;
}

.userpanel-navbar-right-dropdown {
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 210px;
    right: 0px;
    z-index: 1;
    transform: translateY(0);
    border: 1px solid #c7d8e2;
    background-color: white;
    transition: all 0.3s ease 0s;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.125);
}

.userpanel-navbar-right-droplink {
    padding: 12px;
    list-style: none;
}

.userpanel-navbar-right-droplink > a {
    display: flex;
    color: rgb(59, 59, 59);
    text-decoration: none;
}

.userpanel-navbar-right-profile {
    margin-left: 10px;
}

.userpanel-navbar-right {
    display: flex;
    margin-left: 8px;
    justify-content: space-between;
}

.userpanel-navbar-right > i {
    float: inline-end;
    align-self: flex-end;
}

.userpanel-navbar-right-droplink:hover {
    background-color: #ffa502;
}

.userpanel-navbar-right-droplink:hover a {
    color: #fff;
}

.userpanel-navbar-img-profile {
    width: 30px;
    height: 30px;
}

.userpanel-navbar-right-profile {
    display: block;
}

.userpanel-navbar-right-div:focus > .userpanel-navbar-right-dropdown,
.userpanel-navbar-right-div:focus-within > .userpanel-navbar-right-dropdown,
.userpanel-navbar-right-div:hover > .userpanel-navbar-right-dropdown {
    visibility: visible;
    transform: translateY(0.6em);
    transition-delay: 0.3s;
}

.userpanel-bars #openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.userpanel-bars input#openSidebarMenu{
    display: none;
}

.userpanel-bars {
    display: none;
    margin-left: 15px;
    left: 15px;
}

.userpanel-bars .sidebarIconToggle {
    width: 22px;
    position: absolute;
    z-index: 99;
    top: 5px;
    right: 7px;
    transition: all 0.3s;
    cursor: pointer; 
}

.userpanel-bars .spinner {
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
}

.userpanel-bars .spinner.middle ,
.userpanel-bars .spinner.bottom{
    margin-top: 3px;
}

.userpanel-bars #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
    opacity: 0;
}

.userpanel-bars #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

.userpanel-bars #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}