* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed';
}

header {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #3742fa;
}

#navbar {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
}

#navbar img {
    width: 200px;
}

#navbar .menu li {
    display: inline-flex;
}

#navbar .menu li a {
    color: white;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0;
    transition: .2s;
    text-decoration: none;
}

#navbar .menu li a:after, .login-register a:after {
    display: block;
    content: '';
    margin-top: 3px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    border-top: 3px solid #ffa502;
}

#navbar .menu li a:hover {
    font-weight: 700;
}

#navbar .menu li a:hover:after, .login-register a:hover:after {
    transform: scaleX(1);
}

#navbar .login-register {
    display: flex;
}

#navbar .login-register a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

#navbar .login-register .bars {
    margin: 15px;
    padding: 5px;
}

#navbar .login-register a i {
    margin-right: 5px;
}

#navbar .login-register a:hover {
    color: #ffa502;
    transition: .5s ease-in-out;
}

#navbar .bars {
    display: none;
}

#navbar #navbar .bars .fas {
    cursor: pointer;
}

#navbar #navbar .bars .fas.open:before {
    content: '\f00d';
}

/* Spinner */
#navbar #openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

#navbar input#openSidebarMenu{
    display: none;
}

#navbar .sidebarIconToggle {
    width: 22px;
    position: absolute;
    z-index: 99;
    top: 13px;
    right: 15px;
    transition: all 0.3s;
    cursor: pointer; 
}

#navbar .spinner {
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
}

#navbar .spinner.middle ,
#navbar .spinner.bottom{
    margin-top: 3px;
}

#navbar #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
    opacity: 0;
}

#navbar #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#navbar #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}

@media (max-width: 1090px) {
    #navbar {
        font-size: 0.9rem;
    }

    #navbar .menu li a, .login-register a {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 900px) {
    #navbar {
        font-size: 0.65rem;
    }
}

@media (max-width: 770px) {
    #navbar .bars {
        display: flex;
    }

    #navbar {
        font-size: 0.8rem;
    }

    #navbar .menu {
        /* display: none; */
        background-color: #3742fa;
        position: fixed;
        top: 40px;
        height: 0px;
        opacity: 0;
        pointer-events: none;
        left: 0;
        width: 100%;
        transition: height 250ms, .5s ease-in-out;
    }

    #navbar .menu.active {
        top: 40px;
        opacity: 1;
        pointer-events: initial;
        height: 250px;
    }

    #navbar .menu li {
        display: flex;
        padding-left: 5%;
        padding-right: 5%;
        margin: 5px;
        text-align: center;
        flex-direction: column;
    }

    #navbar .menu li a {
        border-radius: 5px;
        padding: 10px;
    }

    #navbar .menu li a:after {
        display: none;
    }

    #navbar .menu li a:hover {
        color: #fff;
        font-weight: 100;
        background-color: #ffa502;
        transform: scale(1.05);
    }

    #navbar .menu li a.active {
        transform: scale(1);
    }
}

@media (max-width:455px) {
    #navbar img {
        width: 150px;
    }
}
@media (max-width:355px) {
    header {
        line-height: 40px;
    }

    #navbar img {
        width: 100px;
    }

    #navbar .menu {
        top: 2px;
    }

    #navbar .menu li {
        margin: 0px;
    }

    #navbar .menu li a {
        padding: 0px;
    }

    #navbar .login-register a {
        padding: 2px;
    }
}
